<div class="d-flex flex-column align-items-center">
  <h2>{{'RegisterButtonLabel' | translate}}</h2>
  <!-- <div class="d-flex flex-column input-wrapper">
    <label>{{'FirstnameInputLabel' | translate}} : </label>
    <input nbInput [(ngModel)]="firstname" placeholder="Maurice">
    <label>{{'NameInputLabel' | translate}} : </label>
    <input nbInput [(ngModel)]="lastname" placeholder="Blanc">
    <label>{{'MailAddressInputLabel' | translate}} : </label>
    <input nbInput [(ngModel)]="email" placeholder="maurice.blanc@bo.com">
    <label>{{'PasswordInputLabel' | translate}} :</label>
    <input nbInput type="password" [(ngModel)]="password" placeholder="**********">
  </div>  -->
  <form
    class="d-flex flex-column form-input-gap"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <label for="firstname">{{'FirstnameInputLabel' | translate}} : </label>
    <input type="text" id="firstname" formControlName="firstname" required nbInput>
    
    <label for="lastname">{{'NameInputLabel' | translate}} : </label>
    <input type="text" id="lastname" formControlName="lastname" required nbInput>
    
    <label for="email">{{'MailAddressInputLabel' | translate}} : </label>
    <input type="email" id="email" formControlName="email" required nbInput>
    
    <label for="password">{{'PasswordInputLabel' | translate}} : </label>
    <input type="password" id="password" formControlName="password" required nbInput>

    <button 
      type="submit" 
      status="success"
      nbButton
      [disabled]="!registerForm.valid"
    >
      {{'RegisterButtonLabel' | translate}}
    </button>
  </form>
</div>
