<div class="d-flex flex-column align-items-center">
  <h2>{{'RegisterButtonLabel' | translate}}</h2>
  <form
    class="d-flex flex-column form-input-gap"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <label for="firstname">{{'FirstnameInputLabel' | translate}} : </label>
    <input type="text" id="firstname" formControlName="firstname" required nbInput [maxlength]="255">
    
    <label for="lastname">{{'NameInputLabel' | translate}} : </label>
    <input type="text" id="lastname" formControlName="lastname" required nbInput [maxlength]="255">
    
    <label for="email">{{'MailAddressInputLabel' | translate}} : </label>
    <input type="email" id="email" formControlName="email" required nbInput [maxlength]="255">
    
    <label for="password">{{'PasswordInputLabel' | translate}} : </label>
    <input type="password" id="password" formControlName="password" required nbInput [maxlength]="255">

    <button 
      type="submit" 
      status="primary"
      nbButton
      [disabled]="!registerForm.valid"
    >
      {{'RegisterButtonLabel' | translate}}
    </button>
  </form>
</div>
