@use '/src/theme.scss' as *;

$arrow--color: nb-theme(icon-primary-color);
$arrow-hover--color: nb-theme(tabset-tab-focus-text-color);

.line {
    width: 2px;
    height: 2rem;
}

.circle {
    $diamteter: .6rem;
    border-radius: 50%;
    width: $diamteter;
    height: $diamteter;
}

.shape {
    .color {
        background-color: $arrow--color;
    }
    &:hover {
        .color {
            background-color: $arrow-hover--color;
        }
    }
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
}