.catch-phrase {
    font-family: "Party-Pocket";
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

.illustration-img {
    max-width: 40%;
    margin: 0 1.5rem;
}

.background {
    background-image: url('/assets/pictures/septo-background.png');
    background-repeat: repeat;
}

.android-logo {
    width: 35%;
}

.logos {
    width: fit-content;
}