<div class="d-flex flex-column">
    <div class="d-flex flex-column" *ngFor="let day of days">
        <p>Jour {{day.number}}</p>
        <!-- here are going the points preview for this day ! -->
        <div class="d-flex flex-wrap align-items-center">
            <ng-container *ngFor="let point of (points | filterPointsByDayId:day.id)">
                <spt-point-preview
                    [point]="point"
                >
                    <div class="d-flex">
                        <button nbButton ghost (click)="unlinkPoint(point)">
                            <nb-icon icon="link-2-outline"></nb-icon>
                        </button>
                    </div>
                </spt-point-preview>
            </ng-container>
    
            <!-- DropZone -->
            <div
                cdkDropList
                [id]="day.id+'-day-dropzone'"
                (cdkDropListDropped)="itemDropped($event, day.id)"
            >
                <div class="point-dropzone d-flex justify-content-center align-items-center">
                    <nb-icon icon="corner-right-down-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>    
</div>