<div class="header-wrapper">
  <!-- <div> -->
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- <img src="/src/assets/septologo_fulltext.svg" alt=""> -->
      <div class="d-flex align-items-center">
        <ul>
          <li>
            <a routerLink="/home" routerLinkActive="active" class="d-flex align-items-center gap-4">
              <button class="menu-btn" nbButton ghost>
                <svg-icon class="mr-4"
                  src="assets/septologo_fulltext.svg"
                  [svgStyle]="{ 'height.px': 50, color: 'white' }">
                </svg-icon>
                {{'HomeNavLabel' | translate}}
              </button>
            </a>
          </li>
          <li><a routerLink="/trips" routerLinkActive="active"><button class="menu-btn" nbButton ghost>{{'TripNavLabel' | translate}}</button></a></li>
        </ul>
      </div>
      <div class="d-flex">
        <ul>
          <ng-container [ngSwitch]="authenticationService.isUserLoggedIn">
            
            <ng-container *ngSwitchCase="false">
              <li><a routerLink="/login" routerLinkActive="active"><button class="menu-btn" nbButton ghost>{{'LoginButtonLabel' | translate}}</button></a></li>
              <li><a routerLink="/register" routerLinkActive="active"><button class="menu-btn" nbButton ghost>{{'RegisterButtonLabel' | translate}}</button></a></li>
            </ng-container>

            <ng-container *ngSwitchCase="true">
              <li><p>{{authenticationService.user?.firstName}} {{authenticationService.user?.lastName}}</p></li>
              <li><a routerLink="" (click)="logout()"><button class="menu-btn" nbButton ghost>{{'DisconnectButtonLabel' | translate}}</button></a></li>
            </ng-container>

            <li>
              <a routerLink="/settings" routerLinkActive="active">
                  <button class="menu-btn" nbButton ghost>
                <nb-icon class="settings-icon"
                  icon="settings-2-outline"
                ></nb-icon>
              </button>
            </a>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
</div>
