<div class="header-wrapper">
  <!-- <div> -->
    <div class="d-flex justify-content-between align-items-center w-100">
      <!-- <img src="/src/assets/septologo_fulltext.svg" alt=""> -->
      <div class="d-flex align-items-center">
        <svg-icon src="assets/septologo_fulltext.svg" [svgStyle]="{ 'height.px': 50 }"></svg-icon>
        <ul>
          <li><a routerLink="/home" routerLinkActive="active">{{'HomeNavLabel' | translate}}</a></li>
          <li><a routerLink="/trips" routerLinkActive="active">{{'TripNavLabel' | translate}}</a></li>
        </ul>
      </div>
      <div class="d-flex">
        <ul>
          <ng-container [ngSwitch]="authenticationService.isUserLoggedIn">
            
            <ng-container *ngSwitchCase="false">
              <li><a routerLink="/login" routerLinkActive="active">{{'LoginButtonLabel' | translate}}</a></li>
              <li><a routerLink="/register" routerLinkActive="active">{{'RegisterButtonLabel' | translate}}</a></li>
            </ng-container>

            <ng-container *ngSwitchCase="true">
              <li><p>{{authenticationService.user?.firstName}} {{authenticationService.user?.lastName}}</p></li>
              <li><a routerLink="" (click)="logout()">{{'DisconnectButtonLabel' | translate}}</a></li>
            </ng-container>

            <li><a routerLink="/settings" routerLinkActive="active">⚙️</a></li>
          </ng-container>
        </ul>
      </div>
    </div>
</div>
