@use 'mixins';

.rounded-corner {
    @include mixins.rounded-corner();
}

.card {
    @include mixins.rounded-corner();
    @include mixins.card-shadow();
    border: 1px solid #C7C7C7;
    background-color: white;
    padding: 1rem;
    margin: .5rem 0;

    &-horizontal {
        margin: 0 .25rem;
    }
}

.list-card {
    @include mixins.rounded-corner();
    @include mixins.card-shadow();
    background-color: rgb(230, 230, 230);
    padding: .5rem;
    // max-height: 100%;
    // overflow: auto;
}