<ng-container *ngIf="steps; else emptyBlock">
  <div class="list-card">
    <div class="d-flex flex-column align-items-center">
      <h4>Etapes</h4>
      <button nbButton
        *ngIf="(mapEditMode$ | async) as editMode"
        status="primary" 
        [outline]="editMode !== mapEditMode.EDIT_STEPS"
        [hero]="editMode === mapEditMode.EDIT_STEPS"
        (click)="switchStepEditMode()"
      >
        <nb-icon icon="edit-outline"></nb-icon>
        EDITION
      </button>
    </div>
    <div 
      cdkDropList 
      class="step-list-wrapper"
      (cdkDropListDropped)="drop($event)"
    >
      <spt-step-preview *ngFor="let step of steps"
        cdkDrag
        [step]="step"
      >
        <div>
          <nb-icon class="cursor-pointer trash-icon-color" (click)="deleteStep(step.stepInstance.id)" icon="trash-2-outline"></nb-icon>
          <nb-icon class="cursor-pointer" (click)="editStep(step.stepInstance)" icon="edit-outline"></nb-icon>
        </div>
        <nb-icon cdkDragHandle handle icon="menu-outline" class="cursor-grab"></nb-icon>
      </spt-step-preview>
    </div>
    </div>
</ng-container>

<ng-template #emptyBlock>
  <div class="d-flex flex-column align-items-center">
    <h5>Il n'y a aucune étape.</h5>
    <h6>Cliquez sur la carte pour commencer !</h6>
  </div>
</ng-template>