<ng-container *ngIf="steps; else emptyBlock">
  <div class="list-card d-flex flex-column h-100">
    <div class="d-flex flex-column align-items-center">
      <h4>{{'Steps' | translate}}</h4>
      <button nbButton
        *ngIf="(mapEditMode$ | async) as editMode"
        status="primary" 
        [outline]="editMode !== mapEditMode.EDIT_STEPS"
        [hero]="editMode === mapEditMode.EDIT_STEPS"
        (click)="switchStepEditMode(editMode)"
      >
        <nb-icon icon="edit-outline"></nb-icon>
        {{'Edition' | translate}}
      </button>
    </div>
    <div 
      cdkDropList 
      class="step-list-wrapper"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListData]="steps"
    >
      <ng-container *ngFor="let step of steps">
        <div
          cdkDrag
          [cdkDragData]="step"
          cdk
          (mouseenter)="highlightStep(step.stepInstance.id)"
          (mouseleave)="unHighlight()"
        >
          <spt-step-preview 
            [step]="step"
            [stepPoints]="points | filterPointsByStepId:step.stepInstance.id"
            [isHighlighted]="(highlithedStepId$ | async) === step.stepInstance.id"
          >
            <div>
              <!-- todo: TRANSLATE nbTooltip -->
              <button nbButton ghost (click)="editStep(step.stepInstance)"
                nbTooltip="Modifier l'étape et ses documents"
              >
                <nb-icon class="cursor-pointer"  icon="info-outline" status="primary"></nb-icon>
              </button>
              <button nbButton ghost (click)="deleteStep(step.stepInstance.id)">
                <nb-icon class="cursor-pointer trash-icon-color" icon="trash-2-outline" status="danger"></nb-icon>
              </button>
            </div>
            <nb-icon cdkDragHandle handle icon="menu-outline" class="cursor-grab"></nb-icon>
          </spt-step-preview>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template #emptyBlock>
  <div class="d-flex flex-column align-items-center">
    <h5>{{'NoStepEmptyStateMessage' | translate}}</h5>
    <h6>{{'ClickMapToBegin' | translate}}</h6>
  </div>
</ng-template>