<ng-container *ngIf="(steps | async) as steps; else loadingBlock">

  <ng-container *ngIf="steps.length > 0; else emptyBlock">
    <spt-step-preview *ngFor="let step of steps"
      [step]="step"
    ></spt-step-preview>
  </ng-container>

  <ng-template #emptyBlock>
    <div class="d-flex justify-content-center">
      <h5>Il n'y a aucune étape.</h5>
    </div>
  </ng-template>
</ng-container>

<ng-template #loadingBlock>
  <spt-loader></spt-loader>
</ng-template>

<button (click)="createStep()">créer fausse étape</button>