<div class="d-flex align-items-center justify-content-space-between card w-100">
  <img [src]="fakePictureSrc" class="thumbnail mr-4">
  <h6 class="m-0">{{trip?.name}}</h6>

  <ng-container *ngIf="optionsEnabled">
    <button
      nbButton
      ghost
      [nbPopover]="tripOptions"
    >
      <nb-icon icon="more-vertical-outline"></nb-icon>
    </button>
  
    <ng-template #tripOptions>
      <div class="d-flex flex-column rounded-corner p-2">
        <div class="d-flex justify-content-between align-items-center cursor-pointer" (click)="deleteTrip()">
          <nb-icon class="delete-icon" icon="trash-outline"></nb-icon>
          <p>Supprimer</p>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
