<div [class.m-3]="!step.pathToStep">
  <spt-path-preview *ngIf="step.pathToStep" class="d-flex justify-content-center"
    [path]="step.pathToStep"
    [stepId]="step.stepInstance.id"
    [tripId]="step.stepInstance.tripId"
  ></spt-path-preview>
  <div class="d-flex flex-column card m-0 w-100 wrapper" [class.highlighted]="isHighlighted">
    <div class="d-flex align-items-center justify-content-between w-100">
      <ng-content select="[handle]"></ng-content>
      <p class="step-name word-break-all" >{{step.stepInstance.name}}</p>
    
      <p>{{'DurationInputLabel' | translate}}: {{step.daysInstance?.length || step.stepInstance.duration}} {{'Days' | translate | lowercase}}</p>
      
      <div class="d-flex align-items-center">
        <button
          nbButton 
          ghost
          (click)="switchMode()"
        >
          <nb-icon status="primary" [icon]="isDetailedModeEnabled ? 'arrow-ios-upward-outline' : 'arrow-ios-downward-outline'"></nb-icon>
        </button>
        <ng-content></ng-content>
      </div>
    </div>
    <div *ngIf="isDetailedModeEnabled">
      <spt-days-list *ngIf="step.daysInstance"
        [days]="step.daysInstance"
        [stepId]="step.stepInstance.id"
        [tripId]="step.stepInstance.tripId"
        [points]="stepPoints"
      ></spt-days-list>
    </div>
  </div>
</div>
