<div class="d-flex flex-column align-items-center vw-25">
    <h2>{{'MyTripsTitle' | translate}}</h2>
    <div class="w-100 d-flex justify-content-center">
        <button nbButton status="primary"
            routerLink="/trips/create"
        ><nb-icon icon="plus-square-outline"></nb-icon>{{'CreateTripValidation' | translate}}</button>
    </div>
    <ng-container *ngIf="(trips$ | async) as trips; else loadingBlock">
        <ng-container *ngIf="trips.length > 0; else emptyBlock">
            <div class="w-100 d-flex flex-column justify-content-center align-items-center">
                <spt-trip-preview *ngFor="let trip of trips"
                    class="cursor-pointer w-100"
                    [trip]="trip.tripInstance"
                    [routerLink]="['/trips', trip.tripInstance.id]"
                ></spt-trip-preview>
            </div>
        </ng-container>
        <ng-template #emptyBlock>
            <div class="d-flex flex-column align-items-center justify-content-center">
                <ng-lottie [options]="animationOptions"></ng-lottie>
                <h6 class="m-0">{{'NoTripEmptyStateMessage' | translate}}</h6>
            </div>
        </ng-template>
    </ng-container>
    <ng-template #loadingBlock>
        <spt-loader></spt-loader>
    </ng-template>
</div>