<div class="d-flex flex-column align-items-center">
    <h2>Mes voyages</h2>
    <div class="w-100 d-flex justify-content-center">
        <button nbButton status="primary"
            routerLink="/trips/create"
        ><nb-icon icon="plus-square-outline"></nb-icon>AJOUTER</button>
    </div>
    <ng-container *ngIf="(trips | async) as trips">
        <spt-trip-preview *ngFor="let trip of trips"
            class="cursor-pointer"
            [trip]="trip"
            [routerLink]="['/trips', trip.id]"
        ></spt-trip-preview>
    </ng-container>
</div>