<app-traveler-preview
  *ngFor="let traveler of travelers"
  [traveler]="traveler"
>
  <button nbButton ghost (click)="removeTraveler(traveler.id)">
    <nb-icon icon="trash-2-outline" status="danger"></nb-icon>
  </button>
</app-traveler-preview>

<h3>{{'AddTravelerTitle' | translate}}</h3>
<form [formGroup]="addTravelerForm" (ngSubmit)="addTraveler()">

  <label for="mailAddress">{{'MailAddressInputLabel' | translate}}</label><br>
  <input type="email" id="mailAddress" formControlName="mailAddress" nbInput>

  <button type="submit" nbButton status="primary">{{'Add' | translate}}</button>
</form>