<div class="d-flex flex-column align-items-center">
  <h2>{{'RegisterButtonLabel' | translate}}</h2>
  <div class="d-flex flex-column input-wrapper">
    <label>{{'FirstnameInputLabel' | translate}} : </label>
    <input nbInput [(ngModel)]="firstname" placeholder="Maurice">
    <label>{{'NameInputLabel' | translate}} : </label>
    <input nbInput [(ngModel)]="lastname" placeholder="Blanc">
    <label>{{'MailAddressInputLabel' | translate}} : </label>
    <input nbInput [(ngModel)]="email" placeholder="maurice.blanc@bo.com">
    <label>{{'PasswordInputLabel' | translate}} :</label>
    <input nbInput type="password" [(ngModel)]="password" placeholder="**********">
  </div> 
  <button nbButton status="success" (click)="inscription()">{{'RegisterButtonLabel' | translate}}</button>
</div>
