@import '/src/styles/variables.scss';

.title {
    text-align: center;
}

.trash-icon {
    color: $danger--color;
}

.point-list-wrapper {
    max-width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}