mgl-map{
    height: 100%;
    width: 100%;
}

.page {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.point-info{
    border: 1px solid black;
}

.point-wrapper {
    position: relative;
}

.delete-point-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}