
<div class="page">
  <div class="menu">
    <h4>MAP</h4>
    <div>
      <div *ngFor="let point of points.features" class="point-info">
        <p>Point: {{point.properties?.['title']}}</p>
        <p>Coords: {{point.geometry.coordinates}}</p>
      </div>
    </div>
  </div>
  <mgl-map
    [style]="'mapbox://styles/augustin417/ckz8hkmbq001114rk93al2alb'"
    [zoom]="mapZoom"
    [center]="mapCenter"
    [cursorStyle]="cursorStyle"
    (mapClick)="mapClick($event)"
  >
    
    <mgl-geojson-source
      id="points"
      [data]="points"
    ></mgl-geojson-source>
    <mgl-layer
      id="points"
      source="points"
      type="symbol"
      [layout]="{
        'icon-image': '{icon}',
        'icon-allow-overlap': true,
        'icon-size': 5
      }"
      (click)="onClick($event)"
      (mouseEnter)="cursorStyle = 'pointer'"
      (mouseLeave)="cursorStyle = ''"
    ></mgl-layer>
  </mgl-map>
</div>