<!-- 
<div class="page">
  <div class="menu">
    <h4>MAP</h4>
    <div class="inputs-wrapper">
      <label for="pointName">Nom du point :</label>
      <input id="pointName" type="text" placeholder="ex: Cathédrale Strasbourg" [(ngModel)]="newPointName" data-form-type="other"/>
      <label for="pointDescription">Description :</label>
      <textarea id="pointDescription"
        [(ngModel)]="newPointDesc"
        placeholder="ex: Un très bel endroit à visiter ! Entrée du côté gauche.
Possibilité de monter en haut de la cathédrale via un escalier sur le côté droit."
        rows="5"
      ></textarea>
    </div>
    <div *ngFor="let point of points.features; let idx = index" class="point-wrapper">
      <div class="point-info">
        <p><span class="txt-undernline">Point:</span> {{point.properties?.['title']}}</p>
        <p><span class="txt-undernline">Description</span></p>
        <p>{{point.properties?.['description']}}</p>
        <button class="delete-point-btn"
          (click)="delete(idx)"
        >
          X
        </button>
      </div>
      <div *ngIf="idx !== points.features.length - 1 && points.features.length > 1"
        class="travel-wrapper"  
      >
        <div class="line"></div>
        <div class="point"></div>
      </div>
    </div>
  </div>
  <mgl-map
    [style]="'mapbox://styles/augustin417/ckz8hkmbq001114rk93al2alb'"
    [zoom]="mapZoom"
    [center]="mapCenter"
    [cursorStyle]="cursorStyle"
    (mapClick)="mapClick($event)"
  >
    <mgl-image
      id="custom-marker"
      url="./assets/map-marker-icon.png"
      (imageLoaded)="imageLoaded = true"
    ></mgl-image>
    <mgl-geojson-source
      id="points"
      [data]="points"
    ></mgl-geojson-source>
    <mgl-layer
      *ngIf="imageLoaded"
      id="points"
      source="points"
      type="symbol"
      [layout]="{
        'icon-image': 'custom-marker',
        'icon-allow-overlap': true,
        'icon-size': .04,
        'icon-anchor': 'top'
      }"
      (click)="onClick($event)"
      (mouseEnter)="cursorStyle = 'pointer'"
      (mouseLeave)="cursorStyle = ''"
    ></mgl-layer>
    <mgl-popup
      *ngIf="selectedPoint"
      [lngLat]="getSelectedPointsCoord"
    >
    <div class="point-info">
        <p><span class="txt-undernline">Point:</span> {{selectedPoint.properties?.['title']}}</p>
        <p><span class="txt-undernline">Description</span></p>
        <p>{{selectedPoint.properties?.['description']}}</p>
      </div>
  </mgl-popup>
  </mgl-map>
</div> -->

<router-outlet></router-outlet>