<div class="d-flex flex-column align-items-center step-creation-wrapper">
  <h2>{{isEditMode ? ('StepUpdate' | translate) : ('StepCreation' | translate)}}</h2>

  <form 
    class="d-flex flex-column"
    [formGroup]="stepForm"
    (ngSubmit)="create()"
  >
    <label for="name">{{'NameInputLabel' | translate}} :</label>
    <input type="text" id="name" formControlName="name" required nbInput>
    <label for="duration">{{'DurationInputLabel' | translate}} :</label>
    <input type="number" id="duration" formControlName="duration" min="1" max="100" required nbInput>

    <button 
      type="submit" 
      status="success"
      nbButton
      [disabled]="!isFormValid()"
    >
      {{isEditMode ? ('StepUpdateValidation' | translate) : ('StepCreationValidation' | translate)}}
    </button>
  </form>
</div>