<div class="d-flex flex-column justify-content-center">
  <div class="w-100 d-flex justify-content-center">
    <button nbButton (click)="openAddFileModal()" status="primary">
      <nb-icon icon="plus-square-outline"></nb-icon>
       {{'AddOneFile' | translate}}
    </button>
  </div>

  <nb-tabset class="d-flex flex-column justify-content-center" 
    *ngIf="{
      pictures: (files | filterDocumentByFileType:FileType.PHOTO),
      documents: (files | filterDocumentByFileType:FileType.DOCUMENT)
    } as sortedFiles"
  >
    <nb-tab
    [active]="isPhotoTabActive"
      [tabTitle]="('TitlePhotos' | translate)"
      tabIcon="image-outline"
    >
      <ng-container *ngIf="sortedFiles.pictures.length > 0; else emptyPictureBlock"
        [ngTemplateOutlet]="filePreviews"
        [ngTemplateOutletContext]="{
          files: sortedFiles.pictures
        }"
      ></ng-container>
      <ng-template #emptyPictureBlock>
        <div class="w-100 d-flex flex-column align-items-center justify-content-center">
          <div class="w-25">
            <ng-lottie [options]="emptyPictureAnimation"></ng-lottie>
          </div>
          <h6 class="m-0">{{'NoPictureEmptyState' | translate}}</h6>
        </div>
      </ng-template>
    </nb-tab>
    <nb-tab
      [active]="!isPhotoTabActive"
      [tabTitle]="('TitleDocuments' | translate)"
      tabIcon="file-text-outline"
    >
      <ng-container
        *ngIf="sortedFiles.documents.length > 0; else emptyDocumentBlock"
        [ngTemplateOutlet]="filePreviews"
        [ngTemplateOutletContext]="{
          files: sortedFiles.documents
        }"
      ></ng-container>
      <ng-template #emptyDocumentBlock>
        <div class="w-100 d-flex flex-column align-items-center justify-content-center">
          <div class="w-25">
            <ng-lottie [options]="emptyDocumentAnimation"></ng-lottie>
          </div>
          <h6 class="m-0">{{'NoFileEmptyState' | translate}}</h6>
        </div>
      </ng-template>
    </nb-tab>
  </nb-tabset>
</div>

<ng-template let-files="files" #filePreviews>
  <div class="d-flex align-items-center flex-column">
    <spt-file-preview *ngFor="let file of files"
      [file]="file"
    >
      <button nbButton ghost (click)="editFile(file)">
        <nb-icon class="cursor-pointer trash-icon-color" icon="edit-outline" status="primary"></nb-icon>
      </button>
      <button nbButton ghost (click)="deleteFile(file.id)">
        <nb-icon class="cursor-pointer trash-icon-color" icon="trash-2-outline" status="danger"></nb-icon>
      </button>
    </spt-file-preview>
  </div>
</ng-template>
