.point-preview-wrapper {
    height: 100%;
    width: 14rem;
    h6 {
        font-size: 1rem;
    }
    .ellips-informations {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
    }
}
