<div class="d-flex flex-column align-items-center path-creation-wrapper">
  <h2>{{'PathUpdate' | translate}}</h2>

  <form 
    class="d-flex flex-column"
    [formGroup]="pathForm"
    (ngSubmit)="create()"
  >
    <label for="description">{{'InformationInputLabel' | translate}}:</label>
    <input type="text" id="description" formControlName="description" required nbInput>

    <button 
      type="submit" 
      status="success"
      nbButton
      [disabled]="!isFormValid()"
    >
      {{'PathUpdateValidation' | translate}}
    </button>
  </form>
</div>