<div class="d-flex align-items-center justify-content-space-between card trip-preview-wrapper">
  <p>{{trip.name}}</p>
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <nb-icon icon="navigation-2-outline"></nb-icon><p>step:{{trip.stepCount}}</p>
    </div>
    <div class="d-flex align-items-center">
      <nb-icon icon="person-outline"></nb-icon><p>membr:{{trip.memberCount}}</p>
    </div>
  </div>
  <div class="d-flex flex-column">
    <div class="d-flex align-items-center">
      <nb-icon icon="arrow-upward-outline"></nb-icon><p>dpt:{{parseDate(trip.departDate)}}</p>
    </div>
    <div class="d-flex align-items-center">
      <nb-icon icon="arrow-downward-outline"></nb-icon><p>arv:{{parseDate(trip.arivalDate)}}</p>
    </div>
  </div>
</div>
