<div class="d-flex flex-column step-creation-wrapper">
    <div>
        <!-- toDo translate -->
        <h2>{{'TasksListTabTitle' | translate}}</h2>
        <table>
            <tbody>
                <tr *ngFor="let task of taskList; let idx = index">
                    <td>
                        <p *ngIf="idx !== indexList"> {{ task.title }} </p>
                        <input *ngIf="idx === indexList"
                            nbInput
                            [(ngModel)]="taskName" 
                            (keyup.enter)="changeName(task.id,taskName)"
                        >
                    </td>
                    <td>
                        <nb-select [selected]="task.state" (selectedChange)="changeState($event, task.id)">
                            <nb-option [value]="TodoState.TODO">{{'Todo' | translate}}</nb-option>
                            <nb-option [value]="TodoState.DOING">{{'Doing' | translate}}</nb-option>
                            <nb-option [value]="TodoState.DONE">{{'Done' | translate}}</nb-option>
                        </nb-select>
                        <button 
                            nbButton 
                            (click)="changeName(task.id,taskName)" 
                            status="primary"
                            *ngIf="update"
                        >{{'Confirm' | translate}}</button>
                        <button 
                            nbButton 
                            (click)="updateName(task.title, idx)" 
                            status="primary"
                            *ngIf="!update"
                        >{{'UpdateTabTitle' | translate}}</button>
                        <button nbButton (click)="deleteTask(task.id, idx)" status="danger">
                            {{'Delete' | translate}}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!create">
        <button nbButton status="primary" (click)="createTask()"> + </button>
    </div>
    <div *ngIf="create">
        <h4>{{'CreateTaskLabel' | translate}}</h4>
        <input nbInput [(ngModel)]="taskName" [placeholder]="'CreateTaskPlaceholder' | translate" (keyup.enter)="onEnter(taskName)">
        <button nbButton (click)="addTask(taskName)" status="primary">
            {{'Add' | translate}}
        </button>
    </div>
</div>
