@use 'src/styles/mixins' as mixins;

.point-creation-wrapper {
    background-color: white;
    padding: 1.5rem;
    @include mixins.rounded-corner;

    input, textarea {
        margin-bottom: 2rem;
    }
}