<div class="d-flex flex-column align-items-center point-creation-wrapper">
  <h2>{{isEditMode ? ('PointUpdate' | translate) : ('PointCreation' | translate)}}</h2>

  <form 
    class="d-flex flex-column"
    [formGroup]="pointForm"
    (ngSubmit)="create()"
  >
    <label for="title">{{'NameInputLabel' | translate}} :</label>
    <input type="text" id="title" formControlName="title" required nbInput [maxlength]="255">
    <label for="duration">{{'DescriptionInputLabel' | translate}} :</label>
    <textarea id="description" formControlName="description" nbInput [maxlength]="5000"></textarea>

    <button 
      type="submit" 
      status="primary"
      nbButton
      [disabled]="!isFormValid()"
    >
      {{isEditMode ? ('PointUpdateValidation' | translate) : ('PointCreationValidation' | translate)}}
    </button>
  </form>
</div>