<div class="d-flex flex-column align-items-center">
  <h2>{{'LoginButtonLabel' | translate}}</h2>
  <div class="d-flex flex-column input-wrapper">
    <label>{{'MailAddressInputLabel' | translate}} :</label>
    <input nbInput [(ngModel)]="email" placeholder="maurice.blanc@bo.com">
    <label>{{'PasswordInputLabel' | translate}} :</label>
    <input nbInput type="password" [(ngModel)]="password" placeholder="**********">
  </div>
  <button nbButton status="success" (click)="connection()">{{'LoginButtonLabel' | translate}}</button>
</div>
