<div class="d-flex flex-column align-items-center">
  <h2>{{'LoginButtonLabel' | translate}}</h2>
  <form
    class="d-flex flex-column form-input-gap"
    [formGroup]="loginForm"
    (ngSubmit)="login()"
  >    
    <label for="email">{{'MailAddressInputLabel' | translate}} : </label>
    <input type="email" id="email" formControlName="email" required nbInput>
    
    <label for="password">{{'PasswordInputLabel' | translate}} : </label>
    <input type="password" id="password" formControlName="password" required nbInput>

    <button 
      type="submit" 
      status="primary"
      nbButton
      [disabled]="!loginForm.valid"
    >
      {{'LoginButtonLabel' | translate}}
    </button>
  </form>
</div>
