:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.trip-wrapper {

    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80% 20%;
}

.steps-wrapper {
    grid-area: 1 / 1 / 2 / 2;
}

.map-wrapper {
    grid-area: 1 / 2 / 2 / 3;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.points-wrapper {
    grid-area: 2 / 1 / 3 / 3;
}