<ng-container *ngIf="(trip$ | async) as trip">
  <ng-container *ngIf="(steps$ | async) as steps">
    <ng-container *ngIf="(points$ | async) as points">
      <div class="page-wrapper h-100 w-100">
        <div class="h-100">
          <spt-steps-list
            [tripId]="trip.tripInstance.id"
            [steps]="steps"
            [points]="points"
          ></spt-steps-list>
        </div>
        <spt-trips-map [steps]="steps" [points]="points" [tripId]="trip.tripInstance.id"></spt-trips-map>

        <div class="points-wrapper">
          <spt-points-list
            [tripId]="trip.tripInstance.id"
            [points]="points"
            [daysId]="getDaysIds(steps)"
          ></spt-points-list>
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>