// import Nebular Theme System and the default theme
@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(
  (
    // background-basic-color-1: #3F4F5F,
    // background-basic-color-1: #BE965B,
    // layout-background-color: red

    button-outline-primary-text-color: #3F4F5F,
    button-outline-primary-border-color: #3F4F5F,
    button-outline-primary-focus-border-color: #3F4F5F,
    button-outline-primary-hover-border-color: #3F4F5F,
    button-outline-primary-hover-text-color: #3F4F5F,
    button-outline-primary-focus-text-color: #3F4F5F,
    button-outline-primary-active-border-color: #3F4F5F,
    button-outline-primary-active-text-color: #3F4F5F,

    button-filled-primary-background-color: #3F4F5F,
    button-filled-primary-border-color: #3F4F5F,
    button-filled-primary-focus-background-color: #29343d,
    button-filled-primary-focus-border-color: #1d252c,
    button-filled-primary-hover-background-color: #53687f,
    button-filled-primary-hover-border-color: #435262,
    button-filled-primary-active-background-color: #53687f,
    button-filled-primary-active-border-color: #435262,

    button-hero-primary-left-background-color: #4d6073,
    button-hero-primary-right-background-color: #34414f,
    button-hero-primary-focus-left-background-color: #32404b,
    button-hero-primary-focus-right-background-color: #212931,
    button-hero-primary-hover-left-background-color: #5a728b,
    button-hero-primary-hover-right-background-color: #4b5e72,
    button-hero-primary-active-left-background-color: #5a728b,
    button-hero-primary-active-right-background-color: #4b5e72,

    border-radius: .75rem,
  ),
  septoStyle,
  default
);