// import Nebular Theme System and the default theme
@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(
  (

    // icon colors
    icon-primary-color: #0869A6,	
    icon-danger-color: #D31723,

    // Button outline
    button-outline-primary-text-color: #0869A6,
    button-outline-primary-border-color: #0869A6,
    button-outline-primary-focus-border-color: #0869A6,
    button-outline-primary-hover-border-color: #0869A6,
    button-outline-primary-hover-text-color: #0869A6,
    button-outline-primary-focus-text-color: #0869A6,
    button-outline-primary-active-border-color: #0869A6,
    button-outline-primary-active-text-color: #0869A6,

    // Button normal primary
    button-filled-primary-background-color: #0869A6,
    button-filled-primary-border-color: #0869A6,
    button-filled-primary-focus-background-color: #08588a,
    button-filled-primary-focus-border-color: #0e5e90,
    button-filled-primary-hover-background-color: #0a74b5,
    button-filled-primary-hover-border-color: #147ab9,
    button-filled-primary-active-background-color: #086096,
    button-filled-primary-active-border-color: #0f5784,

    // Button hero
    button-hero-primary-left-background-color: #147ab9,
    button-hero-primary-right-background-color: #035a90,
    button-hero-primary-focus-left-background-color: #13689c,
    button-hero-primary-focus-right-background-color: #044d7b,
    button-hero-primary-hover-left-background-color: #0367a5,
    button-hero-primary-hover-right-background-color: #1581c5,
    button-hero-primary-active-left-background-color: #0568a5,
    button-hero-primary-active-right-background-color: #015f98,

    // Button normal danger
    button-filled-danger-background-color: #D31723,
    button-filled-danger-border-color: #bb1621,
    button-filled-danger-focus-background-color: #c11521,
    button-filled-danger-focus-border-color: #a1141d,
    button-filled-danger-hover-background-color: #c31c27,
    button-filled-danger-hover-border-color: #a3222b,
    button-filled-danger-active-background-color: #b61620,
    button-filled-danger-active-border-color: #981019,

    // Tabs
    tabset-tab-active-text-color: #0869A6,
    tabset-tab-active-underline-color: #0869A6,
    tabset-tab-focus-text-color: #055282,
    tabset-tab-focus-underline-color: #055282,
    tabset-tab-hover-text-color: #0d7ec4,
    tabset-tab-hover-underline-color: #0d7ec4,

    // Toastrs
    toastr-primary-background-color: #0869A6,
    toastr-primary-border-color: #0869A6,
    toastr-danger-background-color: #D31723,
    toastr-danger-border-color: #D31723, 
    toastr-success-background-color: #03A057,
    toastr-success-border-color: #03A057, 
    toastr-info-background-color: #0071BC,
    toastr-info-border-color: #0071BC, 



    // Others
    border-radius: .75rem,
  ),
  septoStyle,
  default
);