<div class="w-100 h-100 map-wrapper">
    <mgl-map
        [style]="'mapbox://styles/augustin417/ckz8hkmbq001114rk93al2alb'"
        [zoom]="mapZoom"
        [center]="mapCenter"
        [cursorStyle]="cursorStyle"
        (mapClick)="onMapClick($event)"
        [dragRotate]="false"
    >
        <!-- STEPS MANAGEMENT -->
        <ng-container *ngFor="let step of steps">
            <mgl-marker
                [lngLat]="[step.stepInstance.localisation.coordinates[0], step.stepInstance.localisation.coordinates[1]]"
                anchor="bottom"
                [draggable]="(mapEditMode$ | async) === MapEditMode.EDIT_STEPS"
                (dragEnd)="updateStepAfterDrag($event, step)"
            >
                <div class="marker">
                    <img src="./assets/steps_marker.png" alt="" width="30">
                </div>
            </mgl-marker>
        </ng-container>
    
        <!-- POINTS MANAGEMENT -->
        <ng-container *ngFor="let point of points">
            <mgl-marker
                [lngLat]="[point.localisation.coordinates[0], point.localisation.coordinates[1]]"
                anchor="bottom"
                [draggable]="(mapEditMode$ | async) === MapEditMode.EDIT_POINTS"
                (dragEnd)="updatePointAfterDrag($event, point)"
            >
                <div class="marker">
                    <img src="./assets/points_marker.png" alt="" width="30">
                </div>
            </mgl-marker>
        </ng-container>
    
        <!-- LINE MANAGEMENT -->
        <mgl-geojson-source
            id="line-source"
            [data]="line"
        ></mgl-geojson-source>
        <mgl-layer
            id="route"
            type="line"
            source="line-source"
            [layout]="{
                'line-join': 'round',
                'line-cap': 'round'
              }"
              [paint]="{
                'line-color': '#00F',
                'line-width': 5
              }"
        ></mgl-layer>
    </mgl-map>

    <spt-map-edit-mode-preview *ngIf="(mapEditMode$ | async) as mapEditMode"
        class="map-edit-mode-preview"
        [mapMode]="mapEditMode"
    ></spt-map-edit-mode-preview>
</div>