<div class="d-flex flex-column align-items-center">
  <h2>{{'CreateTripTitle' | translate}}</h2>

  <form 
    class="d-flex flex-column justify-content-center align-items-center"
    [formGroup]="tripForm"
    (ngSubmit)="create()"
  >
  <div class="mb-4">
    <label for="name" class="mr-2">{{'NameInputLabel' | translate}} :</label>
    <input nbInput name="name" id="name" formControlName="name">
  </div>

  <label for="visibility mr-2">{{'Visibility' | translate}} :</label>
  <nb-radio-group id="visibility" formControlName="visibility">
    <nb-radio value="public">{{'Public' | translate}}</nb-radio>
    <nb-radio value="private">{{'Private' | translate}}</nb-radio>
  </nb-radio-group>

  <button
    class="mt-4"
    type="submit" 
    status="success"
    nbButton
    [disabled]="!isValid()"
  >
    {{isEditMode ? ('UpdateTripLabel' | translate) : ('CreateTripValidation' | translate) }}
  </button>
</form>
</div>