<div class="d-flex flex-column align-items-center">
  <h2>{{'CreateTripTitle' | translate}}</h2>
  <div class="input-wrapper">
    <label>{{'Name' | translate}} :</label>
    <input nbInput [(ngModel)]="tripName" [placeholder]="'VoyageInFrancePlaceholder' | translate">
  </div>
  <div class="input-wrapper d-flex align-items-center">
    <nb-radio-group [(ngModel)]="visibility">
      <nb-radio
        *ngFor="let option of visibilityOptions"
        [value]="option.value">
        {{ option.label }}
      </nb-radio>
    </nb-radio-group>
  </div>
  <button nbButton status="primary" (click)="create()" [disabled]="!isCreationValid()">{{'CreateTripValidation' | translate}}</button>
</div>